<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>577091907291-2p145dss4jf52pfga7fb3013ak7sei4i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.577091907291-2p145dss4jf52pfga7fb3013ak7sei4i</string>
	<key>API_KEY</key>
	<string>AIzaSyCJE3Zd7bwwduZgBw9nc-y8W95DsrXH_D4</string>
	<key>GCM_SENDER_ID</key>
	<string>577091907291</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.TwitterClone</string>
	<key>PROJECT_ID</key>
	<string>twitterclone-d2289</string>
	<key>STORAGE_BUCKET</key>
	<string>twitterclone-d2289.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:577091907291:ios:cfb67ddea61338a613a6fe</string>
</dict>
</plist>